body {
    font-family: Arial, sans-serif;
    text-align: center;
}
table {
    margin: 20px auto;
    border-collapse: collapse;
    width: 80%;
}
td, th {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
}
.edit-buttons {
    margin-top: 20px;
}
.hidden {
    display: none;
}